<div class="">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <ol class="breadcrumb nopadding">
                    <li class="breadcrumb-item"><a href="#/">Home</a></li>
                    <li class="breadcrumb-item active">{{userDetails.name}}</li>
                    <li class="breadcrumb-item active">Track Requests</li>
                </ol>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="#/landAndAssesment" class="backbtnArea pull-right color-fff">
                    <div class="" id="content">
                        <div class="aside arrow">
                            <span class="glyphicon glyphicon-chevron-left"> </span>
                            <span class="backbtn">Go Back</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="color-theme text-uppercase text-center">
                    Track Requests
                </h4>
                <hr class="type1"/>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Application Id</th>
                            <th>Purchase Agenda Number</th>
                            <th>Request Status</th>
                            <th>Accept Status</th>
                           <!-- <th>Requested by</th>
                            <th>Association/ Community Id</th>-->
                           <!-- <th>Comments</th>-->
                            <th>Invoice Value</th>
                            <th>Invoice Date</th>
                            <th>Cover Note</th>
                            <th>File Uploads</th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="request in requestListDetails">
                            <td><a href="#/viewAssetRequestDetails/{{request.id}}" data-toggle="tooltip" title="View More Details!">{{request.requestId}}</a></td>
                            <!--<td><a href="#/viewRequetDetails/{{request.id}}">{{request.title}}</a></td>-->
                            <td><a href="#/viewAssetRequestDetails/{{request.id}}">{{request.purchaseAgendaNumber}}</a></td>
                            <td>{{request.requestStatus}}</td>
                            <td>{{request.acceptStatus}}</td>
                            <td>{{request.invoiceValue}}</td>
                            <td>{{request.invoiceDate}}</td>
                            <td>{{request.coverNote}}</td>
                            <!--<td>{{request.requested}}</td>
                            <td>{{request.association}}</td>-->
                            <td class="text-left">
                                <div ng-repeat="schemeInf in request.files">
                                    <a target="_blank" href="{{uploadURL}}{{schemeInf.id}}">{{schemeInf.name}}</a>
                                </div>
                            </td>
                            <!--<td>{{request.commnets}}</td>-->
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>