<div class="">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemeMain">
                    <h4 class="color-theme text-uppercase text-center schemeTitle">
                        Land And Asset Management
                    </h4>
                    <!--<hr class="type1"/>-->
                    <div class="table-responsive">
                        <table datatable="ng" class="hover table table-bordered table-striped" id="table1">
                            <thead>
                            <tr>
                                <th class="width200">P.A ID</th>
                                <th class="width70">Meeting Date</th>
                                <th class="width200">Additional Details</th>
                                <th class="width150">Specifications</th>
                                <th class="width150">Resulation</th>
                                <th class="width70">Submit Proposal</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="land in landDetails">
                                <td>{{land.purchaseAgendaNumber}}</td>
                                <td>{{land.meetingDate}}</td>
                                <td>{{land.additionalDetails}}</td>
                                <td>{{land.specifications}}</td>
                                <td>{{land.resulation}}</td>
                                <!--<td><a class="color-theme cursorPointer text-capitalize" href="#/schemeDetails/{{schemes.id}}">{{schemes.name}}</a></td>
                                <td class="text-capitalize">{{schemes.category}}</td>
                                <td>{{schemes.description | limitTo:120}}</td>
                                <td>
                                    <ul class="nopadding listNone benfRepeat">
                                        <li ng-repeat="binef in schemes.bineficiaries">
                                            {{binef}}<span>, </span>
                                        </li>
                                    </ul>
                                </td>-->
                                <td><button class="btn btn-success" ng-click="schemeForms(land)">Submit Proposal</button></td>
                                <!--<td>
                                    <a class="btn btn-primary" href="#/schemeDetails/{{schemes.id}}">{{schemes.name}}</a>
                                </td>-->
                                <!--<td>{{schemes.description}}</td>-->
                                <!--<td>{{schemes.beneficiaries}}</td>
                                <td><button class="btn btn-success" ng-click="schemeForms(filterSchemeLists)">Apply</button></td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>