<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Application Requests</span></li>
                <li class="breadcrumb-item active"><span lang="en">Requests</span></li>
            </ol>
        </div>
        <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a href="#/projectPlan" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn">Go Back</span>
                    </div>
                </div>
            </a>
        </div>-->
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Application Requests</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <button class="btn btn-default pull-right" ng-click="exportToExcel('#applicationRequests')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-default pull-right m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="applicationRequests" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> Requests</div>
                <hr />
            </div>-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div>
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped" id="table2">
                            <thead>
                            <th lang="en">Application Id</th>
                            <th lang="en">Issue Name</th>
                            <th lang="en">Requested</th>
                            <th lang="en">Person Name</th>
                            <th lang="en">Request Status</th>
                            <th lang="en">Approval Status</th>
                            <th lang="en">View More</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="request in requestLists">
                                <td>{{request.applicationId}}</td>
                                <td>{{request.title}}</td>
                                <td>{{request.requested}}</td>
                                <td>{{request.personName}}</td>
                                <td>{{request.requestStatus}}</td>
                                <td>{{request.acceptStatus}}</td>
                                <td class="width150"><a class="btn btn-primary" href="#/viewProjectRequest/{{request.id}}">
                                    <span class="glyphicon glyphicon-th-large"></span></a></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>