
<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Land and  Asset Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Create Asset Causes</span></li>
            </ol>
        </div>
        <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a href="#/projectPlan" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn">Go Back</span>
                    </div>
                </div>
            </a>
        </div>-->
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Asset Causes</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                           <!-- <button class="btn btn-default m-right5">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#assetCauses')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                            <button class="btn btn-success" data-toggle="modal" data-target="#createProjectMilestone" lang="en" ng-click="causeResetData()">Create Asset Causes</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div class="schemForms text-center">
                    <!--<select ng-change="getAssetTypes(id)" ng-model="id">
                        <option value="">-&#45;&#45;Please select-&#45;&#45;</option>
                        <option ng-repeat="assetType in assetTypeList" value="{{assetType.id}}">{{assetType.assetNumber}} - <b class="pull-right">{{assetType.assetName}}</b></option>
                    </select>-->

                    <ui-select ng-change="getAssetTypes($select.selected.id)" ng-model="id" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.assetNumber}}</ui-select-match>
                        <ui-select-choices repeat="assetType in assetTypeList | filter: $select.search">
                            <span ng-bind-html="assetType.assetNumber | highlight: $select.search"></span>
                            <small ng-bind-html="assetType.assetName | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>

                </div>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">

                    <table id="assetCauses" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Asset Causes Details</div>

                        <div class="table-responsive projectInner">
                            <table datatable="ng" class="hover table table-bordered table-striped" id="projectMilestone">
                                <thead>
                                <tr >
                                    <th lang="en">Asset Description</th>
                                    <th lang="en">Asset Cause</th>
                                    <th lang="en">Additional Details</th>
                                    <th lang="en">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="failureData in getAssetTypesData" >
                                    <td class="text-capitalize">{{failureData.description}}</td>
                                    <td class="text-capitalize">{{failureData.assetCause}}</td>
                                    <td class="text-capitalize">{{failureData.extraDetails}}</td>
                                    <td class="width150">
                                        <button class="btn btn-primary" data-toggle="modal" ng-click="failureDetails(failureData)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<div id="createProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Asset Causes</h4>
            </div>
            <div class="text-center color-red f-bold" ng-show="riskError">{{error}}</div>
            <form role="form" class="" name="myform"  ng-submit="assetRiskData()">
                <div class="modal-body">
                    <div class="schemForms row">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Asset Cause</span>:</label>

                            <select ng-model="getAssetFailureData.assetCause" data-style="btn-primary" required>
                                <option value="">Select Causes</option>
                                <option value="Hazards">Hazards</option>
                                <option value="Precautions">Precautions</option>
                                <option value="Lockouts">Lockouts</option>
                                <option value="Tag outs">Tag outs</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Asset Description</span>:</label>
                            <textarea rows="3" ng-model="getAssetFailureData.description" placeholder="Enter Assessment" required></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Additional Details</span>:</label>
                            <textarea rows="3" ng-model="getAssetFailureData.extraDetails" placeholder="Enter Plans" required></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="Submit" class="btn btn-success"><span lang="en">Submit</span></button>
                    <button type="reset" class="btn btn-danger" ><span lang="en">Reset</span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span lang="en">Edit Asset Causes</span></h4>
            </div>
            <div class="text-center color-red f-bold" ng-show="riskError">{{error}}</div>
            <form role="form" class="" name="myform"  ng-submit="editRiskDetails()">
                <div class="modal-body">
                    <div class="schemForms row">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Asset Cause</span>:</label>

                            <select ng-disabled="true" ng-model="editFailureData.assetCause" data-style="btn-primary" required>
                                <option value="">Select Causes</option>
                                <option value="Hazards">Hazards</option>
                                <option value="Precautions">Precautions</option>
                                <option value="Lockouts">Lockouts</option>
                                <option value="Tag outs">Tag outs</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Asset Description</span>:</label>
                            <textarea rows="3" ng-model="editFailureData.description" placeholder="Enter Assessment" required></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Additional Details</span>:</label>
                            <textarea rows="3" ng-model="editFailureData.extraDetails" placeholder="Enter Plans" required></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="Submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

