<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Vehicle Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Create Assign Driver</span></li>
            </ol> -->
        </div>
        <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a href="#/projectPlan" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn">Go Back</span>
                    </div>
                </div>
            </a>
        </div>-->
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Assign Driver</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <!--<button class="btn btn-default m-right5">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#assignDriver')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                            <button class="btn btn-success" data-toggle="modal" ng-click="removeData()"  data-target="#createProjectMilestone" lang="en">Create Assign Driver</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <!--<div class="schemForms text-center">
                    <select ng-change="getAssignDrivers(id)" ng-model="id">
                        <option value="">-&#45;&#45;Please select Asset-&#45;&#45;</option>
                        <option ng-repeat="assetType in assetTypeList" value="{{assetType.id}}">{{assetType.assetNumber}} - <b class="pull-right">{{assetType.assetName}}</b></option>
                    </select>
                </div>-->
                <div>
                    <ui-select ng-change="getAssignDrivers($select.selected.id)" ng-model="id" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.assetNumber}}</ui-select-match>
                        <ui-select-choices repeat="assetType in assetTypeList | filter: $select.search">
                            <span ng-bind-html="assetType.assetNumber | highlight: $select.search"></span>
                            <small ng-bind-html="assetType.assetName | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <table id="assignDriver" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile"><span lang="en">Assign Driver Details</span></div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Field Visitor Details</div>-->
                        <div class="table-responsive projectInner">
                            <table dt-options="dtOptions" dt-columns="dtColumns" datatable="ng" class="hover table table-bordered table-striped" id="projectMilestone">
                                <thead>
                                <tr >
                                    <th lang="en">Department</th>
                                    <th lang="en">Designation</th>
                                    <th lang="en">Driver Name</th>
                                    <th lang="en">Effective Date</th>
                                    <th lang="en">Instructions/Comments</th>
                                    <th lang="en">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="failureData in getAssetTypesData" >
                                    <td class="text-capitalize">{{failureData.department.name}}</td>
                                    <td class="text-capitalize">{{failureData.designation}}</td>
                                    <td class="text-capitalize">{{failureData.driverName.firstName}}</td>
                                    <td class="text-capitalize">{{failureData.effectiveDate}}</td>
                                    <td class="text-capitalize">{{failureData.comments}}</td>
                                    <td class="width150">
                                        <button class="btn btn-primary" data-toggle="modal" ng-click="failureDetails(failureData)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<div id="createProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Assign Driver</h4>
            </div>
            <div class="text-center color-red f-bold" ng-show="errorMsg">{{error}}</div>
            <form role="form" class="" name="myform"  ng-submit="addAssignDriverDetails()">
                <div class="modal-body">
                    <div class="schemForms row">
                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Department:</label>
                            <select ng-model="getAssetFailureData.department" data-style="btn-primary" required>
                                <option value="">Select Department</option>
                                <option ng-repeat="department in departmentList" value="{{department.name}}">{{department.name}}</option>
                            </select>
                        </div>-->

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Department</span>:</label>
                            <ui-select ng-model="getAssetFailureData.department" theme="selectize" ng-change="deptWiseEmp($select.selected.name)">
                                <ui-select-match placeholder="Select or Search Departments">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="department in departmentList | filter: $select.search">
                                    <span ng-bind-html="department.name | highlight: $select.search"></span>
                                    <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Designation</span>:</label>
                            <textarea rows="3" ng-model="getAssetFailureData.designation" placeholder="Enter Designation" required></textarea>
                        </div>
                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Driver Name :</label>
                            <select ng-model="getAssetFailureData.driverName" data-style="btn-primary" required>
                                <option value="">Select Driver Name</option>
                                <option ng-repeat="employee in employeeList" value="{{employee.firstName}}">{{employee.firstName}}</option>
                            </select>
                        </div>-->

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Driver Name</span>:</label>
                            <ui-select ng-model="getAssetFailureData.driverName" theme="selectize" ng-change="driverChange($select.selected)">
                                <ui-select-match placeholder="Select or Search Driver Name">{{$select.selected.firstName}}</ui-select-match>
                                <ui-select-choices repeat="employee1 in employeeList | filter: $select.search" >
                                    <span ng-bind-html="employee1.firstName | highlight: $select.search"></span>
                                    <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Effective Date</span>:</label>
                            <input  placeholder="Date Date" type="text" ng-calendar ng-model="getAssetFailureData.effectiveDate" format="%d-%m-%Y" readonly>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Instructions/Comments</span> :</label>
                            <textarea rows="3" ng-model="getAssetFailureData.comments" placeholder="Enter Comments" required></textarea>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="Submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" class="btn btn-danger" lang="en" ng-click="removeData()">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Assign Driver</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="editAssignDriverDetails()">
                <div class="modal-body">
                    <div class="schemForms row">

                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Department:</label>
                            <select ng-model="editFailureData.department" data-style="btn-primary" required>
                                <option value="">Select Department</option>
                                <option ng-repeat="department in departmentList" value="{{department.name}}">{{department.name}}</option>
                            </select>
                        </div>-->

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Department</span>:</label>
                            <ui-select ng-model="editFailureData.department" theme="selectize">
                                <ui-select-match placeholder="Select or Search Departments">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="department in departmentList | filter: $select.search">
                                    <span ng-bind-html="department.name | highlight: $select.search"></span>
                                    <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                                </ui-select-choices>
                            </ui-select>
                        </div>


                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Designation</span>:</label>

                            <textarea rows="3" ng-model="editFailureData.designation" placeholder="Enter Designation" required></textarea>
                        </div>

                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Driver Name :</label>
                            <select ng-model="editFailureData.driverName" data-style="btn-primary" required>
                                <option value="">Select Driver Name</option>
                                <option ng-repeat="employee in employeeList" value="{{employee.firstName}}">{{employee.firstName}}</option>
                            </select>
                        </div>-->

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Driver Name</span>:</label>
                            <ui-select ng-model="editFailureData.driverName" theme="selectize">
                                <ui-select-match placeholder="Select or Search Driver Name">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="employee in employeeList | filter: $select.search">
                                    <span ng-bind-html="employee.name | highlight: $select.search"></span>
                                    <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                                </ui-select-choices>
                            </ui-select>
                        </div>


                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Effective Date</span>:</label>

                            <input  placeholder="Enter Date" type="text" ng-calendar ng-model="editFailureData.effectiveDate" format="%d-%m-%Y" readonly>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Instructions/Comments</span>:</label>
                            <textarea rows="5" ng-model="editFailureData.comments" placeholder="Enter Comments" required></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="Submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
