<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">User Administration</span></li>
                <li class="breadcrumb-item active"><span lang="en">Workflow Setup</span></li>
                <li class="breadcrumb-item active"><span lang="en">Create Workflow</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Workflow List</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" ng-click="addWorkFlowModal()" lang="en">Add Workflow</button>
                        <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#workFlowExcel')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="workFlowExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped">
                        <thead>
                        <tr >
                            <th lang="en">Workflow Id</th>
                            <th lang="en">Workflow Name</th>
                            <th lang="en">Purpose</th>
                            <th lang="en">Max Levels</th>
                            <th lang="en">Status</th>
                            <th lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="workflow in workflowList">
                            <td>{{workflow.workflowId}}</td>
                            <td class="text-capitalize">{{workflow.name}}</td>
                            <td>{{workflow.purpose}}</td>
                            <td>{{workflow.maxLevel}}</td>
                            <td>{{workflow.status}}</td>
                            <td>
                                    <button class="btn btn-primary" ng-click="editWorkflow(workflow)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addWorkFlow" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Add Workflow</h4>
            </div>
            <form role="form" name="myform" ng-submit="addWorkflow()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center color-red f-bold" ng-show="workCreationError">
                            {{createWorkError}} <hr class="m-tb10" />

                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <label lang="en"> <span class="color-red f-bold f-left" >*</span>Workflow Id:</label>
                            <input type="text" placeholder="Enter WorkFlow Id" class="form-control" ng-model=" workflow.workflowId" maxlength="40"  title="Enter WorkFlow Id - Max length 40"  data-toggle="tooltip" data-placement="top" required autocomplete="off" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <label lang="en"> <span class="color-red f-bold f-left" >*</span>Workflow Name:</label>
                            <input type="text" placeholder="Enter WorkFlow Name" class="form-control" ng-model=" workflow.name" maxlength="40"  title="Enter WorkFlow Name - Max length 40"  data-toggle="tooltip" data-placement="top" required autocomplete="off" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <label lang="en"> <span class="color-red f-bold f-left" >*</span>Purpose:</label>
                            <input type="text" placeholder="Enter workflow Purpose" class="form-control" ng-model=" workflow.purpose"  title="Enter Purpose"  data-toggle="tooltip" data-placement="top" required autocomplete="off" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">

                          <label lang="en"> <span class="color-red f-bold f-left" >*</span>Max Levels:</label>
                            <input type="number" placeholder="Enter Maximum Levels" min="1" class="form-control" ng-model=" workflow.maxLevel"   title="Enter Max Levels"  data-toggle="tooltip" data-placement="top" required autocomplete="off" />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                          <label lang="en"> <span class="color-red f-bold f-left" >*</span>Status:</label>
                            <select ng-model="workflow.status" data-style="btn-primary" data-placement="Select Status"  title="Select Status"  data-toggle="tooltip" data-placement="top" required autocomplete="off">
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editWorkflow" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Workflow</h4>
            </div>
            <div class="text-center color-red f-bold" ng-show="workUpdationError">{{updateWorkError}}</div>
            <form role="form" name="myform" ng-submit="editWorkflowButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">

                          <label lang="en"> <span class="color-red f-bold f-left" >*</span>WorkFlow Id:</label>
                            <input type="text" placeholder="Enter workflow Id" class="form-control" ng-model=" editWorkflowData.workflowId" ng-disabled="editWorkflowData.workflowId" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">

                          <label lang="en"> <span class="color-red f-bold f-left" >*</span>WorkFlow Name:</label>
                            <input type="text" placeholder="Enter workflow name" class="form-control" ng-model=" editWorkflowData.name" title="Enter WorkFlow Name"  data-toggle="tooltip" data-placement="top" required autocomplete="off" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">

                          <label lang="en"> <span class="color-red f-bold f-left" >*</span>Purpose:</label>
                            <input type="text" placeholder="Enter workflow purpose" class="form-control" ng-model=" editWorkflowData.purpose" title="Enter Purpose"  data-toggle="tooltip" data-placement="top"  autocomplete="off" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">

                          <label lang="en"> <span class="color-red f-bold f-left" >*</span>Max Levels:</label>
                            <input type="text" placeholder="Enter maximum levels" class="form-control" value="{{editWorkflowData.maxLevel}}" ng-model="editWorkflowData.maxLevel" title="Enter MaxLevels"  data-toggle="tooltip" data-placement="top" required autocomplete="off" />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                          <label lang="en"> <span class="color-red f-bold f-left" >*</span>Status:</label>
                            <select ng-model="editWorkflowData.status" data-style="btn-primary" data-placement="Select Status" title="Please Select Status"  data-toggle="tooltip" data-placement="top" required autocomplete="off">
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="createWorkFlowSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{workflow.name}}</b> '  is Created.</div>
            </div>
        </div>
    </div>
</div>
<div id="editWorkFlowSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Workflow is Edited.</div>
            </div>
        </div>
    </div>
</div>
<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>