<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Vehicle Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Purchase Agenda</span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Purchase Agenda</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <button class="btn btn-success pull-right" data-toggle="modal" ng-click="actClick()"><span lang="en">Create Purchase Agenda</span></button>
                            <!-- <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#purchaseAgenda')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button> -->
                            <!--<button class="btn btn-default pull-right m-right5">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <table id="purchaseAgenda" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain">
                    <div class="projectTile"><span lang="en">Purchase Agenda List</span></div>
                    <div class="table-responsive projectInner">
                        <table datatable="ng" class="table table-bordered table-striped" id="charter">
                            <thead>
                            <tr>
                                <th lang="en">Purchase Agenda Id</th>
                                <th lang="en">Meeting Date</th>
                                <th lang="en">Department Name</th>
                                <th lang="en">Prepared By</th>
                                <th lang="en">Reviewed By</th>
                                <th lang="en">Background</th>
                                <th lang="en">Discussion</th>
                                <th lang="en">Fiscal Impact</th>
                                <th lang="en">Recomandation</th>
                                <th lang="en">Visibility</th>
                                <th class="width20" lang="en">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="charter in charterList">
                                <td class="text-capitalize">{{charter.purchaseAgendaNumber}}</td>
                                <td class="text-capitalize"><p>{{charter.meetingDate}}</p></td>
                                <td class="text-capitalize"><p>{{charter.departmentName}}</p></td>
                                <td class="text-capitalize"><p>{{charter.preparedBy}}</p></td>
                                <td class="text-capitalize"><p>{{charter.reviewedBy}}</p></td>
                                <td class="text-capitalize"><p>{{charter.backGround}}</p></td>
                                <td class="text-capitalize">{{charter.discussion}}</td>
                                <td class="text-capitalize">{{charter.ficalImpact}}</td>
                                <td class="text-capitalize">{{charter.recommandation}}</td>
                                <td class="text-capitalize">{{charter.visibility}}</td>
                                <td class="width120">
                                    <button class="btn btn-primary" ng-click="editCharterButton(charter)"><span class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div id="createCharter" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Purchase Agenda</h4>
            </div>
            <form role="form" name="myform" ng-submit="createAssignDriver()">
                <div class="modal-body">
                    <div class="row schemForms">
                       <!-- <div class="col-lg-12 col-md-12 col-sm-12 colxs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span>Purchage Agenda ID:</label>
                            <input type="text" class="form-control" ng-model="charter.purchageAgendaId"/>
                        </div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Meeting Date</span>:</label>
                            <input  placeholder="Date Occurance" type="text" ng-calendar ng-model="charter.meetingDate" format="%d-%m-%Y" readonly>
                        </div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span>Department Name:</label>
                            <select ng-model="charter.departmentName" data-style="btn-primary" required>
                                <option value="">Select Department</option>
                                <option ng-repeat="department in departmentList" value="{{department.name}}">{{department.name}}</option>
                            </select>
                        </div>-->

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ui-select ng-model="charter.departmentNamee" theme="selectize">
                                <ui-select-match placeholder="Select or Search Department Name">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="department in departmentList | filter: $select.search">
                                    <span ng-bind-html="department.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Prepared By</span>:</label>
                            <textarea type="text" class="form-control" ng-model="charter.preparedBy" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Reviewed By</span>:</label>
                            <textarea type="text" class="form-control" ng-model="charter.reviewedBy" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Background</span>:</label>
                            <textarea type="text" class="form-control" ng-model="charter.backGround" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Discussion</span>:</label>
                            <textarea type="text"  class="form-control" ng-model="charter.discussion" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Fiscal Impact</span>:</label>
                            <textarea type="text"  class="form-control" ng-model="charter.ficalImpact" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Recomandation</span>:</label>
                            <textarea type="text"  class="form-control" ng-model="charter.recommandation" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Visibility Status</span>:</label>
                            <!--<textarea type="text" class="form-control" ng-model="charter.visibility" required /></textarea>-->
                            <select ng-model="charter.visibility" data-style="btn-primary" required>
                                <option value="" disabled>Select Visibility Status</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button lang="en" class="btn btn-info" ngf-select="uploadFiles($files)" multiple ngf-accept="'image/jpeg,application/pdf'">Resolution Copy Upload</button>
                            <div ng-show="fileUploadLists">
                                <br />
                                <h5><span lang="en">Files</span>:</h5>
                                <hr />
                                <table class="table table-bordered table-striped">
                                    <tr ng-repeat="f in files">
                                        <td>
                                            <a target="_blank" href="{{uploadURL}}{{f.id}}" class="color-text1"><h5>{{f.name}}</h5></a>
                                        </td>
                                        <td class="width20">
                                            <span class="glyphicon glyphicon-trash btn btn-danger" ng-click="deleteFile($index, f.id)"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="color-red" ng-show="errorMssg">Please Wait.. Uploading the selected file.</div>
                        </div>

                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span>Status</label>
                            <select ng-model="charter.status" data-style="btn-primary">
                                <option value="">Select Status</option>
                                <option value="New">New</option>
                                <option value="ReBaseline">Rebase Line</option>
                                <option value="Closed">Closed</option>
                            </select>
                        </div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-reset" lang="en" ng-click="actClick()">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="editCharter" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Purchase Agenda</h4>
            </div>
            <form role="form" name="myform" ng-submit="editAssignDriver()">
                <div class="modal-body">
                    <div class="row schemForms">
                       <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label>Purchage Agenda ID:</label>
                            <input type="text" class="form-control" ng-model="editCharterData.purchageAgendaId"/>
                        </div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label><span lang="en">Meeting Date</span>:</label>
                            <input  placeholder="Date Occurance" type="text" ng-calendar ng-model="editCharterData.meetingDate" format="%d-%m-%Y" readonly>
                        </div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label>Department Name:</label>
                            <select ng-model="editCharterData.departmentName" data-style="btn-primary" required>
                            <option value="">Select Department</option>
                            <option ng-repeat="department in departmentList" value="{{department.name}}">{{department.name}}</option>
                        </select>
                        </div>-->

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ui-select ng-model="editCharterData.departmentNamee" theme="selectize">
                                <ui-select-match placeholder="Select or Search Department Name">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="department in departmentList | filter: $select.search">
                                    <span ng-bind-html="department.name | highlight: $select.search"></span>
                                    <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span lang="en">Prepared By</span>:</label>
                            <textarea type="text"  class="form-control" ng-model="editCharterData.preparedBy" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span lang="en">Reviewed By</span>:</label>
                            <textarea type="text" class="form-control" ng-model="editCharterData.reviewedBy" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span lang="en">Background</span>:</label>
                            <textarea type="text" class="form-control" ng-model="editCharterData.backGround" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span lang="en">Discussion</span>:</label>
                            <textarea type="text" class="form-control" ng-model="editCharterData.discussion" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span lang="en">Fiscal Impact</span>:</label>
                            <textarea type="text" class="form-control" ng-model="editCharterData.ficalImpact" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span lang="en">Recomandation</span>:</label>
                            <textarea type="text" class="form-control" ng-model="editCharterData.recommandation" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <label><span lang="en">Visibility</span>:</label>
                            <!--<textarea type="text" class="form-control" ng-model="editCharterData.visibility" required /></textarea>-->
                            <select ng-model="editCharterData.visibility" data-style="btn-primary" required>
                                <option value="" disabled>Select Visibility Status</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label>Status:</label>
                            <select ng-model="editCharterData.status" data-style="btn-primary">
                                <option value="">Select Status</option>
                                <option value="New">New</option>
                                <option value="ReBaseline">Rebase Line</option>
                                <option value="Closed">Closed</option>
                            </select>
                        </div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
