<div  ng-if="viewRequestDivBack" class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"> <span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Schemes Management</span></li>
                <li class="breadcrumb-item"><a href="#/schemes"><span lang="en">Scheme</span></a></li>
                <li class="breadcrumb-item active"><span lang="en"> Requests</span></li>
            </ol>
        </div>
    </div>
</div>
<div  ng-if="viewRequestDiv" class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span><span lang="en"> Requests </span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <button class="btn btn-default pull-right" ng-click="exportToExcel('#requestExcel')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <!--  <button class="btn btn-default pull-right m-right5">
                                  <span class="glyphicon glyphicon-print"></span> Print
                              </button>-->
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <table id="requestExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div>
                        <div class="table-responsive">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                                <thead>
                                <th lang="en">Request Id</th>
                                <th lang="en">Created Time</th>
                                <th lang="en">Scheme Name</th>
                                <th lang="en">Applicant Name</th>
                                <th lang="en">Applicant Status</th>
                                <th lang="en">Approval Status</th>
                                <th lang="en">View More</th>
                                <th lang="en">Action</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="request in requestLists">
                                    <td>{{request.requestId}}</td>
                                    <td class="text-left">{{request.createdTime | date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                                    <td>{{request.schemeName}}</td>
                                    <td>{{request.name}}</td>
                                    <td>{{request.requestStatus}}</td>
                                    <td>{{request.acceptStatus}}</td>
                                    <td class="width150"><a class="btn btn-primary" ng-click="viewStatus(request.id)">
                                        <span class="glyphicon glyphicon-th-large"></span></a></td>
                                    <td class="width150"><button class="btn btn-info" ng-click="changeStatus(request.id)" lang="en">
                                        <span lang="en">Change Status</span></button></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>
</div>


<div ng-if="editRequestDivBack" class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/schemes"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item"><a ng-click="clickToBack()"><span lang="en">Request</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Change Request Status</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a href="" ng-click="clickToBack()" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div ng-if="editRequestDiv" class="adminContent" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> View Request Status</div>
                <hr />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain m-btm20 table-responsive ">
                    <div class="projectTile" lang="en">Request Details</div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr>
                            <th class="text-left width160" lang="en">Request ID</th>
                            <td class="text-left">{{editRequestDetails.requestId}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160" lang="en">Created Time</th>
                            <td class="text-left">{{editRequestDetails.createdTime | date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160" lang="en">Scheme Name</th>
                            <td class="text-left">{{editRequestDetails.schemeName}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160" lang="en">Applicant Name</th>
                            <td class="text-left">{{editRequestDetails.name}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160" lang="en">Applicant Email ID</th>
                            <td class="text-left">{{editRequestDetails.emailId}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160" lang="en">Applicant Mobile Number</th>
                            <td class="text-left">{{editRequestDetails.mobileNumber}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160" lang="en">Request Status</th>
                            <td class="text-left">{{editRequestDetails.requestStatus}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160" lang="en">Accept Status</th>
                            <td class="text-left">{{editRequestDetails.acceptStatus}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160" lang="en"> Uploaded Files</th>
                            <td class="text-left">
                                <!--<div><a href="">file1</a></div>-->
                                <div ng-repeat="request in editRequestDetails.files">
                                    <a target="_blank" href="{{uploadURL}}{{request.id}}">{{request.name}}</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                    </div>
                <div class="projectMain m-btm20 table-responsive ">
                    <div class="projectTile" lang="en">Approval Information  </div>
                    <table class="table table-bordered nopadding">
                        <tr>
                            <th lang="en">Workflow  Id</th>
                            <th lang="en">Level  No</th>
                            <th lang="en">Level  Id</th>
                            <th lang="en">Approval Person</th>
                            <th lang="en">Status</th>
                            <th lang="en">Comment</th>
                        </tr>
                        <tr  ng-repeat="work in editRequestDetails.workflow">
                            <td>{{work.workflowId}}</td>
                            <td>{{work.levelNo}}</td>
                            <td>{{work.levelId}}</td>
                            <td>{{work.employeeName}}</td>
                            <td>{{work.requestStatus}}</td>
                            <td>{{work.comment}}</td>

                        </tr>
                    </table>
                </div>

                    <div class="schemForms" ng-if="editRequestDetails.editStatus">
                        <div class="form-group">
                            <label lang="en">Comment:</label>
                            <textarea rows="5" ng-model="editRequestDetails.comment" placeholder="Enter Comment" required>{{editRequestDetails.comment}}</textarea>
                        </div>
                    </div>

                    <button class="btn btn-success" ng-if="editRequestDetails.editStatus" ng-click="acceptStatus(editRequestDetails)"><span lang="en">Approval</span></button>
                    <button class="btn btn-danger" ng-if="editRequestDetails.editStatus" ng-click="rejectStatus(editRequestDetails)"><span lang="en">Reject</span></button>
                    <a class="btn btn-info" ng-if="editRequestDetails.editStatus"  href="#/requests"> <span lang="en">Cancel</span></a>

                <!--   <button class="btn btn-lg" ng-click="clickBack()">Cancel</button>-->
                <!--<button class="btn btn-success btn-lg">Submit</button>-->
            </div>
        </div>
    </div>
</div>

<div ng-if="requestDivBack" class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/schemes"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item"><a ng-click="clickToBack()"><span lang="en">Request</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Change Request Status</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a href="" ng-click="clickToBack()" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div ng-if="requestDiv" class="adminContent" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> View Request Status</div>
                <hr />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain m-btm20 table-responsive ">
                    <div class="projectTile" lang="en">Request Details</div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped nopadding">
                            <tbody>
                            <tr>
                                <th class="text-left width160" lang="en">Request ID</th>
                                <td class="text-left">{{viewRequestDetails.requestId}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Created Time</th>
                                <td class="text-left">{{viewRequestDetails.createdTime | date: "yyyy-MM-dd hh:mm:ss a" }}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Applicant Name</th>
                                <td class="text-left">{{viewRequestDetails.name}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Applicant Email ID</th>
                                <td class="text-left">{{viewRequestDetails.emailId}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Applicant Mobile Number</th>
                                <td class="text-left">{{viewRequestDetails.mobileNumber}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Scheme Name</th>
                                <td class="text-left">{{viewRequestDetails.schemeName}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Request Status</th>
                                <td class="text-left">{{viewRequestDetails.requestStatus}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Accept Status</th>
                                <td class="text-left">{{viewRequestDetails.acceptStatus}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Uploaded Files</th>
                                <td class="text-left">
                                    <!--<div><a href="">file1</a></div>-->
                                    <div ng-repeat="request in viewRequestDetails.files">
                                        <a target="_blank" href="{{uploadURL}}{{request.id}}">{{request.name}}</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="projectMain table-responsive ">
                    <div class="projectTile" lang="en">Approval Information</div>
                    <table class="table table-bordered nopadding">
                        <tr>
                            <th lang="en">Level  Id</th>
                            <th lang="en">Approval Person</th>
                            <th lang="en">Status</th>
                            <th lang="en">Comment</th>
                        </tr>
                        <tr  ng-repeat="work in viewRequestDetails.workflow">
                            <td>{{work.levelId}}</td>
                            <td>{{work.employeeName}}</td>
                            <td>{{work.requestStatus}}</td>
                            <td>{{work.comment}}</td>

                        </tr>
                    </table>
                </div>
                <!--   <button class="btn btn-lg" ng-click="clickBack()">Cancel</button>-->
                <!--<button class="btn btn-success btn-lg">Submit</button>-->
            </div>
        </div>
    </div>
</div>

<div id="acceptStatus" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Accepted the Request.</div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="acceptStatusModal()" class="btn btn-success width120" lang="en">OK</button>
        </div>
    </div>
</div>
<div id="rejectStatus" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">
                    <h5 lang="en">Rejected the Scheme Request</h5>
                    <div><b class="color-theme1" lang="en">Request Id: </b><b class="color-red ">{{requestLists.requestId}}</b></div>
                    <div><b class="color-theme1" lang="en">Scheme Name: </b> <b class="color-red ">{{requestLists.schemeName}}</b></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="rejectStatusModal()" class="btn btn-success width120" lang="en">OK</button>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>